.wrapper {
    margin: 0 auto;
    width: 1900px;
}
header {
    height: 70px;
    background-color: #1d2124;
}
.menu {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}
.header-menu {
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 15px;/* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    line-height: 70px;
    padding: 0 18px;
}
.icon-text {
    width: 69px;
    height: 69px;
    background-color: #191d20;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -915px;
}
.icon {
    width: 27px;
    height: 27px;
}
.title-header {
    position: absolute;
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    line-height: 70px;
    margin-left: -825px;
}
.search {
    width: 68px;
    height: 69px;
    background-color: #191d20;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 916px;
}
.icon-search {
    width: 17px;
    height: 17px;
}
.after-menu {
    background: url("../img/header-bg.jpeg") no-repeat fixed center/cover;
    width: 1900px;
    height: 404px;
    font-family: OpenSans,sans-serif;
    color:  #ffffff;
    font-size: 27px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-latest {
    position: absolute;
    margin-top: -44px;
}
.latest-news {
    width: 360px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}
.button1 {
    width: 170px;
    height: 55px;
    border-radius: 5px;
    background-color: #89ca62;
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    line-height: 55px;
}
.button2 {
    width: 170px;
    height: 55px;
    border-radius: 5px;
    background-color: #0cbbd6;
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    line-height: 55px;
}
.most {
    width: 1900px;
    height: 1000px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}
.most-text {
    position: absolute;
    font-family: OpenSans,sans-serif;
    color:  #18b4cf;
    font-size: 27px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}
.most-flex {
    width: 1170px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 100px;
}
.block {
    font-family: OpenSans, sans-serif;
    color:  #35393d;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
}
.one {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    width: 370px;
    height: 320px;
    background-color: #ffffff;
}
.two {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    width: 370px;
    height: 441px;
    background-color: #ffffff;
}
.free {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    width: 370px;
    height: 355px;
    background-color: #ffffff;
}
.four {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    width: 370px;
    height: 321px;
    background-color: #ffffff;
}
.five {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    width: 370px;
    height: 309px;
    background-color: #ffffff;
}
.six {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    width: 370px;
    height: 441px;
    background-color: #ffffff;
}
.clients {
    background: url("../img/parallax-bg.jpeg") no-repeat fixed center/cover;
    width: 1900px;
    height: 588px;
    display: flex;
    justify-content: center;
}
.clients-text {
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 32px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    position: absolute;
    margin-top: 199px;
}
.clients-flex {
    width: 883px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    margin-top: 349px;
}
.line {
    position: absolute;
    border-top: 3px solid #169cb4;
    width: 60px;
    margin-top: 279px;
}
.top-rated {
    width: 1900px;
    height: 340px;
}
.text-rated {
    font-family: ﻿OpenSans-Bold, sans-serif;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    font-weight: bold;
    margin: 63px 0;
}
.top-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    align-items: center;
}
.hot-news {
    width: 1900px;
    height: 1620px;
}
.news {
    font-family: ﻿﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    font-weight: bold;
}
.post {
    background-color: #f9f7f7;
}
.text-news-flex {
    width: 373px;
    height: 259px;
}
.border-news {
    margin-left: 25px;
    margin-top: 41px;
    width: 320px;
    height: 181px;
}
.title-text-news {
    font-family: ﻿Open Sans, sans-serif;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: right;
    margin-bottom: 20px;
    font-weight: bold;
}
.title-text-news2 {
    font-family: ﻿Open Sans, sans-serif;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 40px;
}
.text-news {
    font-family: ﻿Open Sans, sans-serif;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    line-height: 20px;
}
.x1 {
    display: flex;
    width: 856px;
    height: 259px;
}
.x2 {
    width: 277px;
    height: 259px;
}
.border-news2 {
    margin-top: 15px;
    margin-left: 22px;
    width: 505px;
    height: 118px;
}
.x3 {
    width: 554px;
    height: 418px;
}
.x4 {
    margin-left: -275px;
    width: 554px;
    height: 418px;
}
.x5 {
    width: 554px;
    height: 418px;
}
.x6 {
    margin-left: -277px;
    width: 554px;
    height: 418px;
}
.x7 {
    width: 277px;
    height: 259px;
}
.x8 {
    margin-left: -579px;
    display: flex;
    width: 856px;
    height: 259px;
}
.news {
    margin-bottom: 50px;
}
.news-grid {
    display: grid;
    width: 1900px;
    height: 1485px;
    grid-template-columns: 856px 277px;
    grid-gap: 35px;
    align-items: center;
    justify-content: center;

    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    /*margin-left: 370px;*/
}
.footer {
    background-color: #1d2124;
    width: 1900px;
    height: 80px;
    display: flex;
    align-items: center;
}
.down-text {
    font-family: ﻿OpenSans, ﻿Courier, sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-left: 370px;
    line-height: 80px;
}
.logotype {
    margin-left: 560px;
    width: 38px;
    height: 24px;
}
.text-logotype {
    width: 64px;
    height: 16px;
}
